.cat__state--normal {
  box-shadow: 70px 100px 0 #000000, 80px 100px 0 #000000, 90px 100px 0 #000000,
    90px 110px 0 #000000, 160px 110px 0 #000000, 180px 110px 0 #000000,
    90px 120px 0 #000000, 160px 120px 0 #000000, 170px 120px 0 #000000,
    180px 120px 0 #000000, 90px 130px 0 #000000, 100px 130px 0 #000000,
    110px 130px 0 #000000, 120px 130px 0 #000000, 130px 130px 0 #000000,
    140px 130px 0 #000000, 150px 130px 0 #000000, 160px 130px 0 #ffeb3b,
    170px 130px 0 #000000, 180px 130px 0 #ffeb3b, 90px 140px 0 #000000,
    100px 140px 0 #000000, 110px 140px 0 #000000, 120px 140px 0 #000000,
    130px 140px 0 #000000, 140px 140px 0 #000000, 150px 140px 0 #000000,
    160px 140px 0 #000000, 170px 140px 0 #000000, 180px 140px 0 #000000,
    90px 150px 0 #000000, 110px 150px 0 #000000, 120px 150px 0 #000000,
    130px 150px 0 #000000, 140px 150px 0 #000000, 150px 150px 0 #000000,
    80px 160px 0 #000000, 90px 160px 0 #000000, 110px 160px 0 #000000,
    140px 160px 0 #000000, 160px 160px 0 #000000, 80px 170px 0 #000000,
    110px 170px 0 #000000, 140px 170px 0 #000000, 170px 170px 0 #000000;
  height: 10px;
  width: 10px;
}

.cat__state--walking-1 {
  box-shadow: 70px 100px 0 #000000, 80px 100px 0 #000000, 90px 100px 0 #000000,
    90px 110px 0 #000000, 160px 110px 0 #000000, 180px 110px 0 #000000,
    90px 120px 0 #000000, 160px 120px 0 #000000, 170px 120px 0 #000000,
    180px 120px 0 #000000, 90px 130px 0 #000000, 100px 130px 0 #000000,
    110px 130px 0 #000000, 120px 130px 0 #000000, 130px 130px 0 #000000,
    140px 130px 0 #000000, 150px 130px 0 #000000, 160px 130px 0 #ffeb3b,
    170px 130px 0 #000000, 180px 130px 0 #ffeb3b, 90px 140px 0 #000000,
    100px 140px 0 #000000, 110px 140px 0 #000000, 120px 140px 0 #000000,
    130px 140px 0 #000000, 140px 140px 0 #000000, 150px 140px 0 #000000,
    160px 140px 0 #000000, 170px 140px 0 #000000, 180px 140px 0 #000000,
    90px 150px 0 #000000, 100px 150px 0 #000000, 120px 150px 0 #000000,
    130px 150px 0 #000000, 140px 150px 0 #000000, 150px 150px 0 #000000,
    90px 160px 0 #000000, 100px 160px 0 #000000, 140px 160px 0 #000000,
    150px 160px 0 #000000, 80px 170px 0 #000000, 110px 170px 0 #000000,
    130px 170px 0 #000000, 150px 170px 0 #000000;
  height: 10px;
  width: 10px;
}

.cat__state--walking-2 {
  box-shadow: 70px 100px 0 #000000, 80px 100px 0 #000000, 90px 100px 0 #000000,
    90px 110px 0 #000000, 160px 110px 0 #000000, 180px 110px 0 #000000,
    90px 120px 0 #000000, 160px 120px 0 #000000, 170px 120px 0 #000000,
    180px 120px 0 #000000, 90px 130px 0 #000000, 100px 130px 0 #000000,
    110px 130px 0 #000000, 120px 130px 0 #000000, 130px 130px 0 #000000,
    140px 130px 0 #000000, 150px 130px 0 #000000, 160px 130px 0 #ffeb3b,
    170px 130px 0 #000000, 180px 130px 0 #ffeb3b, 90px 140px 0 #000000,
    100px 140px 0 #000000, 110px 140px 0 #000000, 120px 140px 0 #000000,
    130px 140px 0 #000000, 140px 140px 0 #000000, 150px 140px 0 #000000,
    160px 140px 0 #000000, 170px 140px 0 #000000, 180px 140px 0 #000000,
    90px 150px 0 #000000, 100px 150px 0 #000000, 120px 150px 0 #000000,
    130px 150px 0 #000000, 140px 150px 0 #000000, 150px 150px 0 #000000,
    90px 160px 0 #000000, 100px 160px 0 #000000, 140px 160px 0 #000000,
    160px 160px 0 #000000, 90px 170px 0 #000000, 110px 170px 0 #000000,
    140px 170px 0 #000000, 160px 170px 0 #000000;
  height: 10px;
  width: 10px;
}
