.Cat--jumping {
  animation: jumping 1s infinite;
  -webkit-animation: jumping 1s infinite;
  -moz-animation: jumping 1s infinite;
  -o-animation: jumping 1s infinite;
}

@keyframes jumping {
  0%,
  7.7% {
    box-shadow: 60px 100px 0 #000000, 70px 100px 0 #000000, 80px 110px 0 #000000,
      160px 110px 0 #000000, 180px 110px 0 #000000, 90px 120px 0 #000000,
      160px 120px 0 #000000, 170px 120px 0 #000000, 180px 120px 0 #000000,
      90px 130px 0 #000000, 100px 130px 0 #000000, 110px 130px 0 #000000,
      120px 130px 0 #000000, 130px 130px 0 #000000, 140px 130px 0 #000000,
      150px 130px 0 #000000, 160px 130px 0 #ffeb3b, 170px 130px 0 #000000,
      180px 130px 0 #ffeb3b, 90px 140px 0 #000000, 100px 140px 0 #000000,
      110px 140px 0 #000000, 120px 140px 0 #000000, 130px 140px 0 #000000,
      140px 140px 0 #000000, 150px 140px 0 #000000, 160px 140px 0 #000000,
      170px 140px 0 #000000, 180px 140px 0 #000000, 90px 150px 0 #000000,
      110px 150px 0 #000000, 120px 150px 0 #000000, 130px 150px 0 #000000,
      140px 150px 0 #000000, 150px 150px 0 #000000, 80px 160px 0 #000000,
      90px 160px 0 #000000, 110px 160px 0 #000000, 140px 160px 0 #000000,
      160px 160px 0 #000000, 80px 170px 0 #000000, 110px 170px 0 #000000,
      140px 170px 0 #000000, 170px 170px 0 #000000;
    height: 10px;
    width: 10px;
  }
  7.71%,
  15.4% {
    box-shadow: 70px 90px 0 #000000, 70px 100px 0 #000000, 80px 100px 0 #000000,
      90px 110px 0 #000000, 160px 110px 0 #000000, 180px 110px 0 #000000,
      90px 120px 0 #000000, 160px 120px 0 #000000, 170px 120px 0 #000000,
      180px 120px 0 #000000, 90px 130px 0 #000000, 100px 130px 0 #000000,
      110px 130px 0 #000000, 120px 130px 0 #000000, 130px 130px 0 #000000,
      140px 130px 0 #000000, 150px 130px 0 #000000, 160px 130px 0 #ffeb3b,
      170px 130px 0 #000000, 180px 130px 0 #ffeb3b, 90px 140px 0 #000000,
      100px 140px 0 #000000, 110px 140px 0 #000000, 120px 140px 0 #000000,
      130px 140px 0 #000000, 140px 140px 0 #000000, 150px 140px 0 #000000,
      160px 140px 0 #000000, 170px 140px 0 #000000, 180px 140px 0 #000000,
      90px 150px 0 #000000, 110px 150px 0 #000000, 120px 150px 0 #000000,
      130px 150px 0 #000000, 140px 150px 0 #000000, 150px 150px 0 #000000,
      90px 160px 0 #000000, 110px 160px 0 #000000, 140px 160px 0 #000000,
      160px 160px 0 #000000, 80px 170px 0 #000000, 100px 170px 0 #000000,
      130px 170px 0 #000000, 160px 170px 0 #000000;
    height: 10px;
    width: 10px;
  }
  15.41%,
  23.1% {
    box-shadow: 60px 100px 0 #000000, 70px 100px 0 #000000, 80px 110px 0 #000000,
      90px 110px 0 #000000, 160px 110px 0 #000000, 180px 110px 0 #000000,
      90px 120px 0 #000000, 160px 120px 0 #000000, 170px 120px 0 #000000,
      180px 120px 0 #000000, 90px 130px 0 #000000, 100px 130px 0 #000000,
      110px 130px 0 #000000, 120px 130px 0 #000000, 130px 130px 0 #000000,
      140px 130px 0 #000000, 150px 130px 0 #000000, 160px 130px 0 #ffeb3b,
      170px 130px 0 #000000, 180px 130px 0 #ffeb3b, 90px 140px 0 #000000,
      100px 140px 0 #000000, 110px 140px 0 #000000, 120px 140px 0 #000000,
      130px 140px 0 #000000, 140px 140px 0 #000000, 150px 140px 0 #000000,
      160px 140px 0 #000000, 170px 140px 0 #000000, 180px 140px 0 #000000,
      90px 150px 0 #000000, 110px 150px 0 #000000, 120px 150px 0 #000000,
      130px 150px 0 #000000, 140px 150px 0 #000000, 150px 150px 0 #000000,
      90px 160px 0 #000000, 110px 160px 0 #000000, 140px 160px 0 #000000,
      150px 160px 0 #000000, 90px 170px 0 #000000, 110px 170px 0 #000000,
      130px 170px 0 #000000, 150px 170px 0 #000000;
    height: 10px;
    width: 10px;
  }
  23.110000000000003%,
  30.8% {
    box-shadow: 70px 90px 0 #000000, 70px 100px 0 #000000, 80px 100px 0 #000000,
      90px 110px 0 #000000, 160px 110px 0 #000000, 180px 110px 0 #000000,
      90px 120px 0 #000000, 160px 120px 0 #000000, 170px 120px 0 #000000,
      180px 120px 0 #000000, 90px 130px 0 #000000, 100px 130px 0 #000000,
      110px 130px 0 #000000, 120px 130px 0 #000000, 130px 130px 0 #000000,
      140px 130px 0 #000000, 150px 130px 0 #000000, 160px 130px 0 #ffeb3b,
      170px 130px 0 #000000, 180px 130px 0 #ffeb3b, 90px 140px 0 #000000,
      100px 140px 0 #000000, 110px 140px 0 #000000, 120px 140px 0 #000000,
      130px 140px 0 #000000, 140px 140px 0 #000000, 150px 140px 0 #000000,
      160px 140px 0 #000000, 170px 140px 0 #000000, 180px 140px 0 #000000,
      90px 150px 0 #000000, 100px 150px 0 #000000, 120px 150px 0 #000000,
      130px 150px 0 #000000, 140px 150px 0 #000000, 150px 150px 0 #000000,
      90px 160px 0 #000000, 110px 160px 0 #000000, 120px 160px 0 #000000,
      140px 160px 0 #000000, 160px 160px 0 #000000, 90px 170px 0 #000000,
      110px 170px 0 #000000, 140px 170px 0 #000000, 160px 170px 0 #000000;
    height: 10px;
    width: 10px;
  }
  30.810000000000002%,
  38.5% {
    box-shadow: 60px 100px 0 #000000, 70px 100px 0 #000000, 80px 110px 0 #000000,
      160px 110px 0 #000000, 90px 120px 0 #000000, 160px 120px 0 #000000,
      170px 120px 0 #000000, 90px 130px 0 #000000, 100px 130px 0 #000000,
      110px 130px 0 #000000, 120px 130px 0 #000000, 130px 130px 0 #000000,
      140px 130px 0 #000000, 150px 130px 0 #000000, 160px 130px 0 #000000,
      170px 130px 0 #ffeb3b, 180px 130px 0 #000000, 90px 140px 0 #000000,
      100px 140px 0 #000000, 110px 140px 0 #000000, 120px 140px 0 #000000,
      130px 140px 0 #000000, 140px 140px 0 #000000, 150px 140px 0 #000000,
      160px 140px 0 #000000, 170px 140px 0 #000000, 180px 140px 0 #000000,
      90px 150px 0 #000000, 100px 150px 0 #000000, 120px 150px 0 #000000,
      130px 150px 0 #000000, 140px 150px 0 #000000, 150px 150px 0 #000000,
      90px 160px 0 #000000, 120px 160px 0 #000000, 140px 160px 0 #000000,
      160px 160px 0 #000000, 80px 170px 0 #000000, 120px 170px 0 #000000,
      140px 170px 0 #000000, 170px 170px 0 #000000;
    height: 10px;
    width: 10px;
  }
  38.51%,
  46.2% {
    box-shadow: 70px 110px 0 #000000, 80px 110px 0 #000000,
      160px 110px 0 #000000, 90px 120px 0 #000000, 160px 120px 0 #000000,
      170px 120px 0 #000000, 90px 130px 0 #000000, 130px 130px 0 #000000,
      140px 130px 0 #000000, 150px 130px 0 #000000, 160px 130px 0 #000000,
      170px 130px 0 #ffeb3b, 180px 130px 0 #000000, 90px 140px 0 #000000,
      100px 140px 0 #000000, 110px 140px 0 #000000, 120px 140px 0 #000000,
      130px 140px 0 #000000, 140px 140px 0 #000000, 150px 140px 0 #000000,
      160px 140px 0 #000000, 170px 140px 0 #000000, 180px 140px 0 #000000,
      90px 150px 0 #000000, 100px 150px 0 #000000, 110px 150px 0 #000000,
      120px 150px 0 #000000, 130px 150px 0 #000000, 140px 150px 0 #000000,
      150px 150px 0 #000000, 90px 160px 0 #000000, 110px 160px 0 #000000,
      120px 160px 0 #000000, 140px 160px 0 #000000, 160px 160px 0 #000000,
      90px 170px 0 #000000, 100px 170px 0 #000000, 120px 170px 0 #000000,
      140px 170px 0 #000000, 170px 170px 0 #000000;
    height: 10px;
    width: 10px;
  }
  46.21%,
  53.8% {
    box-shadow: 70px 100px 0 #000000, 70px 110px 0 #000000,
      160px 110px 0 #000000, 80px 120px 0 #000000, 160px 120px 0 #000000,
      170px 120px 0 #000000, 90px 130px 0 #000000, 130px 130px 0 #000000,
      140px 130px 0 #000000, 150px 130px 0 #000000, 160px 130px 0 #000000,
      170px 130px 0 #ffeb3b, 180px 130px 0 #000000, 90px 140px 0 #000000,
      100px 140px 0 #000000, 110px 140px 0 #000000, 120px 140px 0 #000000,
      130px 140px 0 #000000, 140px 140px 0 #000000, 150px 140px 0 #000000,
      160px 140px 0 #000000, 170px 140px 0 #000000, 180px 140px 0 #000000,
      90px 150px 0 #000000, 100px 150px 0 #000000, 110px 150px 0 #000000,
      120px 150px 0 #000000, 130px 150px 0 #000000, 140px 150px 0 #000000,
      150px 150px 0 #000000, 90px 160px 0 #000000, 100px 160px 0 #000000,
      110px 160px 0 #000000, 120px 160px 0 #000000, 140px 160px 0 #000000,
      160px 160px 0 #000000, 170px 160px 0 #000000, 100px 170px 0 #000000,
      110px 170px 0 #000000, 120px 170px 0 #000000, 150px 170px 0 #000000;
    height: 10px;
    width: 10px;
  }
  53.809999999999995%,
  61.5% {
    box-shadow: 70px 90px 0 #000000, 160px 90px 0 #000000, 70px 100px 0 #000000,
      160px 100px 0 #000000, 170px 100px 0 #000000, 80px 110px 0 #000000,
      150px 110px 0 #000000, 160px 110px 0 #000000, 170px 110px 0 #ffeb3b,
      180px 110px 0 #000000, 90px 120px 0 #000000, 130px 120px 0 #000000,
      140px 120px 0 #000000, 150px 120px 0 #000000, 160px 120px 0 #000000,
      170px 120px 0 #000000, 180px 120px 0 #000000, 90px 130px 0 #000000,
      100px 130px 0 #000000, 110px 130px 0 #000000, 120px 130px 0 #000000,
      130px 130px 0 #000000, 140px 130px 0 #000000, 150px 130px 0 #000000,
      160px 130px 0 #000000, 170px 130px 0 #000000, 180px 130px 0 #000000,
      190px 130px 0 #000000, 100px 140px 0 #000000, 110px 140px 0 #000000,
      120px 140px 0 #000000, 130px 140px 0 #000000, 140px 140px 0 #000000,
      150px 140px 0 #000000, 160px 140px 0 #000000, 100px 150px 0 #000000,
      110px 150px 0 #000000, 120px 150px 0 #000000, 130px 150px 0 #000000,
      160px 150px 0 #000000, 170px 150px 0 #000000, 100px 160px 0 #000000,
      110px 160px 0 #000000, 130px 160px 0 #000000, 110px 170px 0 #000000,
      130px 170px 0 #000000, 110px 180px 0 #000000, 140px 180px 0 #000000,
      120px 190px 0 #000000;
    height: 10px;
    width: 10px;
  }
  61.51%,
  69.2% {
    box-shadow: 160px 90px 0 #000000, 60px 100px 0 #000000, 70px 100px 0 #000000,
      160px 100px 0 #000000, 170px 100px 0 #000000, 80px 110px 0 #000000,
      150px 110px 0 #000000, 160px 110px 0 #000000, 170px 110px 0 #ffeb3b,
      180px 110px 0 #000000, 90px 120px 0 #000000, 130px 120px 0 #000000,
      140px 120px 0 #000000, 150px 120px 0 #000000, 160px 120px 0 #000000,
      170px 120px 0 #000000, 180px 120px 0 #000000, 90px 130px 0 #000000,
      100px 130px 0 #000000, 110px 130px 0 #000000, 120px 130px 0 #000000,
      130px 130px 0 #000000, 140px 130px 0 #000000, 150px 130px 0 #000000,
      160px 130px 0 #000000, 170px 130px 0 #000000, 180px 130px 0 #000000,
      90px 140px 0 #000000, 100px 140px 0 #000000, 110px 140px 0 #000000,
      120px 140px 0 #000000, 130px 140px 0 #000000, 140px 140px 0 #000000,
      150px 140px 0 #000000, 160px 140px 0 #000000, 190px 140px 0 #000000,
      100px 150px 0 #000000, 110px 150px 0 #000000, 120px 150px 0 #000000,
      130px 150px 0 #000000, 160px 150px 0 #000000, 100px 160px 0 #000000,
      110px 160px 0 #000000, 130px 160px 0 #000000, 170px 160px 0 #000000,
      110px 170px 0 #000000, 130px 170px 0 #000000, 100px 180px 0 #000000;
    height: 10px;
    width: 10px;
  }
  69.21000000000001%,
  76.9% {
    box-shadow: 160px 90px 0 #000000, 60px 100px 0 #000000, 70px 100px 0 #000000,
      160px 100px 0 #000000, 170px 100px 0 #000000, 80px 110px 0 #000000,
      150px 110px 0 #000000, 160px 110px 0 #000000, 170px 110px 0 #ffeb3b,
      180px 110px 0 #000000, 90px 120px 0 #000000, 130px 120px 0 #000000,
      140px 120px 0 #000000, 150px 120px 0 #000000, 160px 120px 0 #000000,
      170px 120px 0 #000000, 180px 120px 0 #000000, 90px 130px 0 #000000,
      100px 130px 0 #000000, 110px 130px 0 #000000, 120px 130px 0 #000000,
      130px 130px 0 #000000, 140px 130px 0 #000000, 150px 130px 0 #000000,
      160px 130px 0 #000000, 90px 140px 0 #000000, 100px 140px 0 #000000,
      110px 140px 0 #000000, 120px 140px 0 #000000, 130px 140px 0 #000000,
      140px 140px 0 #000000, 150px 140px 0 #000000, 160px 140px 0 #000000,
      170px 140px 0 #000000, 100px 150px 0 #000000, 110px 150px 0 #000000,
      120px 150px 0 #000000, 130px 150px 0 #000000, 150px 150px 0 #000000,
      160px 150px 0 #000000, 180px 150px 0 #000000, 100px 160px 0 #000000,
      120px 160px 0 #000000, 160px 160px 0 #000000, 190px 160px 0 #000000,
      90px 170px 0 #000000, 120px 170px 0 #000000, 90px 180px 0 #000000,
      110px 180px 0 #000000;
    height: 10px;
    width: 10px;
  }
  76.91000000000001%,
  84.6% {
    box-shadow: 160px 90px 0 #000000, 60px 100px 0 #000000, 70px 100px 0 #000000,
      160px 100px 0 #000000, 170px 100px 0 #000000, 80px 110px 0 #000000,
      150px 110px 0 #000000, 160px 110px 0 #000000, 170px 110px 0 #ffeb3b,
      180px 110px 0 #000000, 90px 120px 0 #000000, 130px 120px 0 #000000,
      140px 120px 0 #000000, 150px 120px 0 #000000, 160px 120px 0 #000000,
      170px 120px 0 #000000, 180px 120px 0 #000000, 90px 130px 0 #000000,
      100px 130px 0 #000000, 110px 130px 0 #000000, 120px 130px 0 #000000,
      130px 130px 0 #000000, 140px 130px 0 #000000, 150px 130px 0 #000000,
      160px 130px 0 #000000, 100px 140px 0 #000000, 110px 140px 0 #000000,
      120px 140px 0 #000000, 130px 140px 0 #000000, 140px 140px 0 #000000,
      150px 140px 0 #000000, 160px 140px 0 #000000, 100px 150px 0 #000000,
      120px 150px 0 #000000, 140px 150px 0 #000000, 160px 150px 0 #000000,
      100px 160px 0 #000000, 120px 160px 0 #000000, 140px 160px 0 #000000,
      170px 160px 0 #000000, 90px 170px 0 #000000, 120px 170px 0 #000000,
      140px 170px 0 #000000, 170px 170px 0 #000000;
    height: 10px;
    width: 10px;
  }
  84.61%,
  92.3% {
    box-shadow: 60px 100px 0 #000000, 70px 100px 0 #000000,
      160px 100px 0 #000000, 80px 110px 0 #000000, 160px 110px 0 #000000,
      170px 110px 0 #000000, 90px 120px 0 #000000, 160px 120px 0 #000000,
      170px 120px 0 #ffc107, 180px 120px 0 #000000, 90px 130px 0 #000000,
      100px 130px 0 #000000, 110px 130px 0 #000000, 120px 130px 0 #000000,
      130px 130px 0 #000000, 140px 130px 0 #000000, 150px 130px 0 #000000,
      160px 130px 0 #000000, 170px 130px 0 #000000, 180px 130px 0 #000000,
      100px 140px 0 #000000, 110px 140px 0 #000000, 120px 140px 0 #000000,
      130px 140px 0 #000000, 140px 140px 0 #000000, 150px 140px 0 #000000,
      160px 140px 0 #000000, 100px 150px 0 #000000, 120px 150px 0 #000000,
      140px 150px 0 #000000, 160px 150px 0 #000000, 90px 160px 0 #000000,
      120px 160px 0 #000000, 140px 160px 0 #000000, 170px 160px 0 #000000,
      90px 170px 0 #000000, 110px 170px 0 #000000, 140px 170px 0 #000000,
      170px 170px 0 #000000;
    height: 10px;
    width: 10px;
  }
  92.31%,
  100% {
    box-shadow: 60px 100px 0 #000000, 70px 100px 0 #000000,
      160px 100px 0 #000000, 80px 110px 0 #000000, 160px 110px 0 #000000,
      170px 110px 0 #000000, 90px 120px 0 #000000, 160px 120px 0 #000000,
      170px 120px 0 #ffc107, 180px 120px 0 #000000, 90px 130px 0 #000000,
      100px 130px 0 #000000, 110px 130px 0 #000000, 120px 130px 0 #000000,
      130px 130px 0 #000000, 140px 130px 0 #000000, 150px 130px 0 #000000,
      160px 130px 0 #000000, 170px 130px 0 #000000, 180px 130px 0 #000000,
      90px 140px 0 #000000, 100px 140px 0 #000000, 110px 140px 0 #000000,
      120px 140px 0 #000000, 130px 140px 0 #000000, 140px 140px 0 #000000,
      150px 140px 0 #000000, 160px 140px 0 #000000, 100px 150px 0 #000000,
      120px 150px 0 #000000, 140px 150px 0 #000000, 160px 150px 0 #000000,
      90px 160px 0 #000000, 120px 160px 0 #000000, 140px 160px 0 #000000,
      170px 160px 0 #000000, 90px 170px 0 #000000, 110px 170px 0 #000000,
      140px 170px 0 #000000, 170px 170px 0 #000000;
    height: 10px;
    width: 10px;
  }
}
