.Cat--licking {
  /* bottom: 105px; */
  animation: licking 1s infinite;
  -webkit-animation: licking 1s infinite;
  -moz-animation: licking 1s infinite;
  -o-animation: licking 1s infinite;
}

@keyframes x {
  0%,
  7.1% {
    box-shadow: 30px 50px 0 #000000, 35px 50px 0 #000000, 40px 55px 0 #000000,
      80px 55px 0 #000000, 45px 60px 0 #000000, 80px 60px 0 #000000,
      85px 60px 0 #000000, 45px 65px 0 #000000, 50px 65px 0 #000000,
      55px 65px 0 #000000, 60px 65px 0 #000000, 65px 65px 0 #000000,
      70px 65px 0 #000000, 75px 65px 0 #000000, 80px 65px 0 #000000,
      85px 65px 0 #ffeb3b, 90px 65px 0 #000000, 45px 70px 0 #000000,
      50px 70px 0 #000000, 55px 70px 0 #000000, 60px 70px 0 #000000,
      65px 70px 0 #000000, 70px 70px 0 #000000, 75px 70px 0 #000000,
      80px 70px 0 #000000, 85px 70px 0 #000000, 90px 70px 0 #000000,
      45px 75px 0 #000000, 55px 75px 0 #000000, 60px 75px 0 #000000,
      65px 75px 0 #000000, 70px 75px 0 #000000, 75px 75px 0 #000000,
      40px 80px 0 #000000, 45px 80px 0 #000000, 55px 80px 0 #000000,
      70px 80px 0 #000000, 80px 80px 0 #000000, 40px 85px 0 #000000,
      55px 85px 0 #000000, 70px 85px 0 #000000, 85px 85px 0 #000000;
    height: 5px;
    width: 5px;
  }
  7.109999999999999%,
  14.3% {
    box-shadow: 35px 50px 0 #000000, 35px 55px 0 #000000, 80px 55px 0 #000000,
      35px 60px 0 #000000, 80px 60px 0 #000000, 85px 60px 0 #000000,
      40px 65px 0 #000000, 45px 65px 0 #000000, 50px 65px 0 #000000,
      55px 65px 0 #000000, 60px 65px 0 #000000, 65px 65px 0 #000000,
      70px 65px 0 #000000, 75px 65px 0 #000000, 80px 65px 0 #000000,
      85px 65px 0 #ffeb3b, 90px 65px 0 #000000, 45px 70px 0 #000000,
      50px 70px 0 #000000, 55px 70px 0 #000000, 60px 70px 0 #000000,
      65px 70px 0 #000000, 70px 70px 0 #000000, 75px 70px 0 #000000,
      80px 70px 0 #000000, 85px 70px 0 #000000, 90px 70px 0 #000000,
      45px 75px 0 #000000, 55px 75px 0 #000000, 60px 75px 0 #000000,
      65px 75px 0 #000000, 70px 75px 0 #000000, 75px 75px 0 #000000,
      45px 80px 0 #000000, 55px 80px 0 #000000, 70px 80px 0 #000000,
      80px 80px 0 #000000, 45px 85px 0 #000000, 55px 85px 0 #000000,
      70px 85px 0 #000000, 80px 85px 0 #000000;
    height: 5px;
    width: 5px;
  }
  14.31%,
  21.4% {
    box-shadow: 45px 50px 0 #000000, 75px 50px 0 #000000, 40px 55px 0 #000000,
      75px 55px 0 #000000, 80px 55px 0 #000000, 35px 60px 0 #000000,
      65px 60px 0 #000000, 70px 60px 0 #000000, 75px 60px 0 #000000,
      80px 60px 0 #ffc107, 85px 60px 0 #000000, 40px 65px 0 #000000,
      55px 65px 0 #000000, 60px 65px 0 #000000, 65px 65px 0 #000000,
      70px 65px 0 #000000, 75px 65px 0 #000000, 80px 65px 0 #000000,
      85px 65px 0 #000000, 45px 70px 0 #000000, 50px 70px 0 #000000,
      55px 70px 0 #000000, 60px 70px 0 #000000, 65px 70px 0 #000000,
      70px 70px 0 #000000, 75px 70px 0 #000000, 50px 75px 0 #000000,
      55px 75px 0 #000000, 60px 75px 0 #000000, 65px 75px 0 #000000,
      70px 75px 0 #000000, 75px 75px 0 #000000, 50px 80px 0 #000000,
      55px 80px 0 #000000, 70px 80px 0 #000000, 80px 80px 0 #000000,
      50px 85px 0 #000000, 55px 85px 0 #000000, 60px 85px 0 #000000,
      70px 85px 0 #000000, 80px 85px 0 #000000;
    height: 5px;
    width: 5px;
  }
  21.41%,
  28.6% {
    box-shadow: 75px 45px 0 #000000, 40px 50px 0 #000000, 70px 50px 0 #000000,
      75px 50px 0 #000000, 80px 50px 0 #000000, 40px 55px 0 #000000,
      65px 55px 0 #000000, 70px 55px 0 #000000, 75px 55px 0 #000000,
      80px 55px 0 #ffc107, 85px 55px 0 #000000, 45px 60px 0 #000000,
      60px 60px 0 #000000, 65px 60px 0 #000000, 70px 60px 0 #000000,
      75px 60px 0 #000000, 80px 60px 0 #000000, 85px 60px 0 #000000,
      45px 65px 0 #000000, 55px 65px 0 #000000, 60px 65px 0 #000000,
      65px 65px 0 #000000, 70px 65px 0 #000000, 75px 65px 0 #000000,
      45px 70px 0 #000000, 50px 70px 0 #000000, 55px 70px 0 #000000,
      60px 70px 0 #000000, 65px 70px 0 #000000, 70px 70px 0 #000000,
      75px 70px 0 #000000, 50px 75px 0 #000000, 55px 75px 0 #000000,
      60px 75px 0 #000000, 75px 75px 0 #000000, 50px 80px 0 #000000,
      55px 80px 0 #000000, 60px 80px 0 #000000, 75px 80px 0 #000000,
      50px 85px 0 #000000, 55px 85px 0 #000000, 60px 85px 0 #000000,
      65px 85px 0 #000000, 75px 85px 0 #000000, 80px 85px 0 #000000;
    height: 5px;
    width: 5px;
  }
  28.610000000000003%,
  35.7% {
    box-shadow: 75px 45px 0 #000000, 35px 50px 0 #000000, 70px 50px 0 #000000,
      75px 50px 0 #000000, 80px 50px 0 #000000, 40px 55px 0 #000000,
      65px 55px 0 #000000, 70px 55px 0 #000000, 75px 55px 0 #000000,
      80px 55px 0 #ffc107, 85px 55px 0 #000000, 45px 60px 0 #000000,
      60px 60px 0 #000000, 65px 60px 0 #000000, 70px 60px 0 #000000,
      75px 60px 0 #000000, 80px 60px 0 #000000, 85px 60px 0 #000000,
      45px 65px 0 #000000, 60px 65px 0 #000000, 65px 65px 0 #000000,
      70px 65px 0 #000000, 75px 65px 0 #000000, 45px 70px 0 #000000,
      50px 70px 0 #000000, 55px 70px 0 #000000, 60px 70px 0 #000000,
      65px 70px 0 #000000, 70px 70px 0 #000000, 75px 70px 0 #000000,
      55px 75px 0 #000000, 60px 75px 0 #000000, 65px 75px 0 #000000,
      70px 75px 0 #000000, 75px 75px 0 #000000, 55px 80px 0 #000000,
      60px 80px 0 #000000, 65px 80px 0 #000000, 70px 80px 0 #000000,
      75px 80px 0 #000000, 55px 85px 0 #000000, 60px 85px 0 #000000,
      65px 85px 0 #000000, 70px 85px 0 #000000, 75px 85px 0 #000000,
      80px 85px 0 #000000;
    height: 5px;
    width: 5px;
  }
  35.71%,
  42.9% {
    box-shadow: 75px 45px 0 #000000, 40px 50px 0 #000000, 70px 50px 0 #000000,
      75px 50px 0 #000000, 80px 50px 0 #000000, 40px 55px 0 #000000,
      65px 55px 0 #000000, 70px 55px 0 #000000, 75px 55px 0 #000000,
      80px 55px 0 #ffc107, 85px 55px 0 #000000, 45px 60px 0 #000000,
      60px 60px 0 #000000, 65px 60px 0 #000000, 70px 60px 0 #000000,
      75px 60px 0 #000000, 80px 60px 0 #000000, 85px 60px 0 #000000,
      45px 65px 0 #000000, 60px 65px 0 #000000, 65px 65px 0 #000000,
      70px 65px 0 #000000, 75px 65px 0 #000000, 45px 70px 0 #000000,
      50px 70px 0 #000000, 55px 70px 0 #000000, 60px 70px 0 #000000,
      65px 70px 0 #000000, 70px 70px 0 #000000, 75px 70px 0 #000000,
      55px 75px 0 #000000, 60px 75px 0 #000000, 65px 75px 0 #000000,
      70px 75px 0 #000000, 80px 75px 0 #000000, 55px 80px 0 #000000,
      60px 80px 0 #000000, 65px 80px 0 #000000, 70px 80px 0 #000000,
      85px 80px 0 #000000, 55px 85px 0 #000000, 60px 85px 0 #000000,
      65px 85px 0 #000000, 70px 85px 0 #000000, 75px 85px 0 #000000;
    height: 5px;
    width: 5px;
  }
  42.91%,
  50% {
    box-shadow: 75px 45px 0 #000000, 50px 50px 0 #000000, 70px 50px 0 #000000,
      75px 50px 0 #000000, 80px 50px 0 #000000, 50px 55px 0 #000000,
      65px 55px 0 #000000, 70px 55px 0 #000000, 75px 55px 0 #000000,
      80px 55px 0 #ffc107, 85px 55px 0 #000000, 45px 60px 0 #000000,
      60px 60px 0 #000000, 65px 60px 0 #000000, 70px 60px 0 #000000,
      75px 60px 0 #000000, 80px 60px 0 #000000, 85px 60px 0 #000000,
      45px 65px 0 #000000, 60px 65px 0 #000000, 65px 65px 0 #000000,
      70px 65px 0 #000000, 75px 65px 0 #000000, 50px 70px 0 #000000,
      55px 70px 0 #000000, 60px 70px 0 #000000, 65px 70px 0 #000000,
      70px 70px 0 #000000, 75px 70px 0 #000000, 90px 70px 0 #000000,
      55px 75px 0 #000000, 60px 75px 0 #000000, 65px 75px 0 #000000,
      70px 75px 0 #000000, 80px 75px 0 #000000, 85px 75px 0 #000000,
      55px 80px 0 #000000, 60px 80px 0 #000000, 65px 80px 0 #000000,
      70px 80px 0 #000000, 55px 85px 0 #000000, 60px 85px 0 #000000,
      65px 85px 0 #000000, 70px 85px 0 #000000, 75px 85px 0 #000000;
    height: 5px;
    width: 5px;
  }
  50.01%,
  57.1% {
    box-shadow: 75px 45px 0 #000000, 40px 50px 0 #000000, 70px 50px 0 #000000,
      75px 50px 0 #000000, 80px 50px 0 #000000, 45px 55px 0 #000000,
      65px 55px 0 #000000, 70px 55px 0 #000000, 75px 55px 0 #000000,
      80px 55px 0 #ffc107, 85px 55px 0 #000000, 45px 60px 0 #000000,
      60px 60px 0 #000000, 65px 60px 0 #000000, 70px 60px 0 #000000,
      75px 60px 0 #000000, 80px 60px 0 #000000, 85px 60px 0 #ffcdd2,
      45px 65px 0 #000000, 60px 65px 0 #000000, 65px 65px 0 #000000,
      70px 65px 0 #000000, 75px 65px 0 #000000, 90px 65px 0 #000000,
      50px 70px 0 #000000, 55px 70px 0 #000000, 60px 70px 0 #000000,
      65px 70px 0 #000000, 70px 70px 0 #000000, 75px 70px 0 #000000,
      80px 70px 0 #000000, 85px 70px 0 #000000, 55px 75px 0 #000000,
      60px 75px 0 #000000, 65px 75px 0 #000000, 70px 75px 0 #000000,
      55px 80px 0 #000000, 60px 80px 0 #000000, 65px 80px 0 #000000,
      70px 80px 0 #000000, 55px 85px 0 #000000, 60px 85px 0 #000000,
      65px 85px 0 #000000, 70px 85px 0 #000000, 75px 85px 0 #000000;
    height: 5px;
    width: 5px;
  }
  57.11%,
  64.3% {
    box-shadow: 75px 45px 0 #000000, 50px 50px 0 #000000, 70px 50px 0 #000000,
      75px 50px 0 #000000, 80px 50px 0 #000000, 45px 55px 0 #000000,
      65px 55px 0 #000000, 70px 55px 0 #000000, 75px 55px 0 #000000,
      80px 55px 0 #ffc107, 85px 55px 0 #000000, 45px 60px 0 #000000,
      60px 60px 0 #000000, 65px 60px 0 #000000, 70px 60px 0 #000000,
      75px 60px 0 #000000, 80px 60px 0 #000000, 85px 60px 0 #000000,
      45px 65px 0 #000000, 60px 65px 0 #000000, 65px 65px 0 #000000,
      70px 65px 0 #000000, 75px 65px 0 #000000, 90px 65px 0 #000000,
      50px 70px 0 #000000, 55px 70px 0 #000000, 60px 70px 0 #000000,
      65px 70px 0 #000000, 70px 70px 0 #000000, 75px 70px 0 #000000,
      80px 70px 0 #000000, 85px 70px 0 #000000, 55px 75px 0 #000000,
      60px 75px 0 #000000, 65px 75px 0 #000000, 70px 75px 0 #000000,
      55px 80px 0 #000000, 60px 80px 0 #000000, 65px 80px 0 #000000,
      70px 80px 0 #000000, 55px 85px 0 #000000, 60px 85px 0 #000000,
      65px 85px 0 #000000, 70px 85px 0 #000000, 75px 85px 0 #000000;
    height: 5px;
    width: 5px;
  }
  64.31%,
  71.4% {
    box-shadow: 75px 45px 0 #000000, 40px 50px 0 #000000, 70px 50px 0 #000000,
      75px 50px 0 #000000, 80px 50px 0 #000000, 45px 55px 0 #000000,
      65px 55px 0 #000000, 70px 55px 0 #000000, 75px 55px 0 #000000,
      80px 55px 0 #ffc107, 85px 55px 0 #000000, 45px 60px 0 #000000,
      60px 60px 0 #000000, 65px 60px 0 #000000, 70px 60px 0 #000000,
      75px 60px 0 #000000, 80px 60px 0 #000000, 85px 60px 0 #ffcdd2,
      45px 65px 0 #000000, 60px 65px 0 #000000, 65px 65px 0 #000000,
      70px 65px 0 #000000, 75px 65px 0 #000000, 90px 65px 0 #000000,
      50px 70px 0 #000000, 55px 70px 0 #000000, 60px 70px 0 #000000,
      65px 70px 0 #000000, 70px 70px 0 #000000, 75px 70px 0 #000000,
      80px 70px 0 #000000, 85px 70px 0 #000000, 55px 75px 0 #000000,
      60px 75px 0 #000000, 65px 75px 0 #000000, 70px 75px 0 #000000,
      55px 80px 0 #000000, 60px 80px 0 #000000, 65px 80px 0 #000000,
      70px 80px 0 #000000, 55px 85px 0 #000000, 60px 85px 0 #000000,
      65px 85px 0 #000000, 70px 85px 0 #000000, 75px 85px 0 #000000;
    height: 5px;
    width: 5px;
  }
  71.41000000000001%,
  78.6% {
    box-shadow: 75px 45px 0 #000000, 50px 50px 0 #000000, 70px 50px 0 #000000,
      75px 50px 0 #000000, 80px 50px 0 #000000, 50px 55px 0 #000000,
      65px 55px 0 #000000, 70px 55px 0 #000000, 75px 55px 0 #000000,
      80px 55px 0 #ffc107, 85px 55px 0 #000000, 45px 60px 0 #000000,
      60px 60px 0 #000000, 65px 60px 0 #000000, 70px 60px 0 #000000,
      75px 60px 0 #000000, 80px 60px 0 #000000, 85px 60px 0 #000000,
      45px 65px 0 #000000, 60px 65px 0 #000000, 65px 65px 0 #000000,
      70px 65px 0 #000000, 75px 65px 0 #000000, 90px 65px 0 #000000,
      50px 70px 0 #000000, 55px 70px 0 #000000, 60px 70px 0 #000000,
      65px 70px 0 #000000, 70px 70px 0 #000000, 75px 70px 0 #000000,
      80px 70px 0 #000000, 85px 70px 0 #000000, 55px 75px 0 #000000,
      60px 75px 0 #000000, 65px 75px 0 #000000, 70px 75px 0 #000000,
      55px 80px 0 #000000, 60px 80px 0 #000000, 65px 80px 0 #000000,
      70px 80px 0 #000000, 55px 85px 0 #000000, 60px 85px 0 #000000,
      65px 85px 0 #000000, 70px 85px 0 #000000, 75px 85px 0 #000000;
    height: 5px;
    width: 5px;
  }
  78.61%,
  85.7% {
    box-shadow: 75px 45px 0 #000000, 45px 50px 0 #000000, 70px 50px 0 #000000,
      75px 50px 0 #000000, 80px 50px 0 #000000, 40px 55px 0 #000000,
      65px 55px 0 #000000, 70px 55px 0 #000000, 75px 55px 0 #000000,
      80px 55px 0 #ffc107, 85px 55px 0 #000000, 45px 60px 0 #000000,
      60px 60px 0 #000000, 65px 60px 0 #000000, 70px 60px 0 #000000,
      75px 60px 0 #000000, 80px 60px 0 #000000, 85px 60px 0 #ffcdd2,
      45px 65px 0 #000000, 60px 65px 0 #000000, 65px 65px 0 #000000,
      70px 65px 0 #000000, 75px 65px 0 #000000, 90px 65px 0 #000000,
      50px 70px 0 #000000, 55px 70px 0 #000000, 60px 70px 0 #000000,
      65px 70px 0 #000000, 70px 70px 0 #000000, 75px 70px 0 #000000,
      80px 70px 0 #000000, 85px 70px 0 #000000, 55px 75px 0 #000000,
      60px 75px 0 #000000, 65px 75px 0 #000000, 70px 75px 0 #000000,
      55px 80px 0 #000000, 60px 80px 0 #000000, 65px 80px 0 #000000,
      70px 80px 0 #000000, 55px 85px 0 #000000, 60px 85px 0 #000000,
      65px 85px 0 #000000, 70px 85px 0 #000000, 75px 85px 0 #000000;
    height: 5px;
    width: 5px;
  }
  85.71000000000001%,
  92.9% {
    box-shadow: 75px 45px 0 #000000, 85px 45px 0 #000000, 45px 50px 0 #000000,
      75px 50px 0 #000000, 80px 50px 0 #000000, 85px 50px 0 #000000,
      40px 55px 0 #000000, 70px 55px 0 #000000, 75px 55px 0 #ffc107,
      80px 55px 0 #000000, 85px 55px 0 #ffc107, 45px 60px 0 #000000,
      60px 60px 0 #000000, 65px 60px 0 #000000, 70px 60px 0 #000000,
      75px 60px 0 #000000, 80px 60px 0 #000000, 85px 60px 0 #000000,
      45px 65px 0 #000000, 60px 65px 0 #000000, 65px 65px 0 #000000,
      70px 65px 0 #000000, 75px 65px 0 #000000, 50px 70px 0 #000000,
      55px 70px 0 #000000, 60px 70px 0 #000000, 65px 70px 0 #000000,
      70px 70px 0 #000000, 75px 70px 0 #000000, 80px 70px 0 #000000,
      85px 70px 0 #000000, 55px 75px 0 #000000, 60px 75px 0 #000000,
      65px 75px 0 #000000, 70px 75px 0 #000000, 90px 75px 0 #000000,
      55px 80px 0 #000000, 60px 80px 0 #000000, 65px 80px 0 #000000,
      70px 80px 0 #000000, 55px 85px 0 #000000, 60px 85px 0 #000000,
      65px 85px 0 #000000, 70px 85px 0 #000000, 75px 85px 0 #000000;
    height: 5px;
    width: 5px;
  }
  92.91000000000001%,
  100% {
    box-shadow: 75px 45px 0 #000000, 85px 45px 0 #000000, 45px 50px 0 #000000,
      75px 50px 0 #000000, 80px 50px 0 #000000, 85px 50px 0 #000000,
      40px 55px 0 #000000, 70px 55px 0 #000000, 75px 55px 0 #ffc107,
      80px 55px 0 #000000, 85px 55px 0 #ffc107, 45px 60px 0 #000000,
      60px 60px 0 #000000, 65px 60px 0 #000000, 70px 60px 0 #000000,
      75px 60px 0 #000000, 80px 60px 0 #000000, 85px 60px 0 #000000,
      45px 65px 0 #000000, 60px 65px 0 #000000, 65px 65px 0 #000000,
      70px 65px 0 #000000, 75px 65px 0 #000000, 50px 70px 0 #000000,
      55px 70px 0 #000000, 60px 70px 0 #000000, 65px 70px 0 #000000,
      70px 70px 0 #000000, 75px 70px 0 #000000, 80px 70px 0 #000000,
      85px 70px 0 #000000, 55px 75px 0 #000000, 60px 75px 0 #000000,
      65px 75px 0 #000000, 70px 75px 0 #000000, 90px 75px 0 #000000,
      55px 80px 0 #000000, 60px 80px 0 #000000, 65px 80px 0 #000000,
      70px 80px 0 #000000, 55px 85px 0 #000000, 60px 85px 0 #000000,
      65px 85px 0 #000000, 70px 85px 0 #000000, 75px 85px 0 #000000;
    height: 5px;
    width: 5px;
  }
}
@keyframes licking {
  0%,
  7.1% {
    box-shadow: 100px 70px 0 #000000, 30px 80px 0 #000000, 100px 80px 0 #000000,
      110px 80px 0 #000000, 30px 90px 0 #000000, 90px 90px 0 #000000,
      100px 90px 0 #000000, 110px 90px 0 #ffeb3b, 120px 90px 0 #000000,
      40px 100px 0 #000000, 80px 100px 0 #000000, 90px 100px 0 #000000,
      100px 100px 0 #000000, 110px 100px 0 #000000, 120px 100px 0 #ffcdd2,
      50px 110px 0 #000000, 70px 110px 0 #000000, 80px 110px 0 #000000,
      90px 110px 0 #000000, 100px 110px 0 #000000, 130px 110px 0 #000000,
      50px 120px 0 #000000, 70px 120px 0 #000000, 80px 120px 0 #000000,
      90px 120px 0 #000000, 100px 120px 0 #000000, 110px 120px 0 #000000,
      120px 120px 0 #000000, 50px 130px 0 #000000, 60px 130px 0 #000000,
      70px 130px 0 #000000, 80px 130px 0 #000000, 90px 130px 0 #000000,
      100px 130px 0 #000000, 60px 140px 0 #000000, 70px 140px 0 #000000,
      80px 140px 0 #000000, 90px 140px 0 #000000, 100px 140px 0 #000000,
      70px 150px 0 #000000, 80px 150px 0 #000000, 90px 150px 0 #000000,
      100px 150px 0 #000000, 110px 150px 0 #000000;
  }
  7.109999999999999%,
  14.3% {
    box-shadow: 100px 70px 0 #000000, 50px 80px 0 #000000, 100px 80px 0 #000000,
      110px 80px 0 #000000, 50px 90px 0 #000000, 90px 90px 0 #000000,
      100px 90px 0 #000000, 110px 90px 0 #ffeb3b, 120px 90px 0 #000000,
      40px 100px 0 #000000, 80px 100px 0 #000000, 90px 100px 0 #000000,
      100px 100px 0 #000000, 110px 100px 0 #000000, 120px 100px 0 #ffcdd2,
      50px 110px 0 #000000, 70px 110px 0 #000000, 80px 110px 0 #000000,
      90px 110px 0 #000000, 100px 110px 0 #000000, 130px 110px 0 #000000,
      50px 120px 0 #000000, 70px 120px 0 #000000, 80px 120px 0 #000000,
      90px 120px 0 #000000, 100px 120px 0 #000000, 110px 120px 0 #000000,
      120px 120px 0 #000000, 50px 130px 0 #000000, 60px 130px 0 #000000,
      70px 130px 0 #000000, 80px 130px 0 #000000, 90px 130px 0 #000000,
      100px 130px 0 #000000, 60px 140px 0 #000000, 70px 140px 0 #000000,
      80px 140px 0 #000000, 90px 140px 0 #000000, 100px 140px 0 #000000,
      70px 150px 0 #000000, 80px 150px 0 #000000, 90px 150px 0 #000000,
      100px 150px 0 #000000, 110px 150px 0 #000000;
  }
  14.31%,
  21.4% {
    box-shadow: 100px 70px 0 #000000, 50px 80px 0 #000000, 100px 80px 0 #000000,
      110px 80px 0 #000000, 40px 90px 0 #000000, 90px 90px 0 #000000,
      100px 90px 0 #000000, 110px 90px 0 #ffeb3b, 120px 90px 0 #000000,
      40px 100px 0 #000000, 80px 100px 0 #000000, 90px 100px 0 #000000,
      100px 100px 0 #000000, 110px 100px 0 #000000, 120px 100px 0 #ffcdd2,
      50px 110px 0 #000000, 70px 110px 0 #000000, 80px 110px 0 #000000,
      90px 110px 0 #000000, 100px 110px 0 #000000, 130px 110px 0 #000000,
      50px 120px 0 #000000, 70px 120px 0 #000000, 80px 120px 0 #000000,
      90px 120px 0 #000000, 100px 120px 0 #000000, 110px 120px 0 #000000,
      120px 120px 0 #000000, 50px 130px 0 #000000, 60px 130px 0 #000000,
      70px 130px 0 #000000, 80px 130px 0 #000000, 90px 130px 0 #000000,
      100px 130px 0 #000000, 60px 140px 0 #000000, 70px 140px 0 #000000,
      80px 140px 0 #000000, 90px 140px 0 #000000, 100px 140px 0 #000000,
      70px 150px 0 #000000, 80px 150px 0 #000000, 90px 150px 0 #000000,
      100px 150px 0 #000000, 110px 150px 0 #000000;
  }
  21.41%,
  28.6% {
    box-shadow: 100px 70px 0 #000000, 50px 80px 0 #000000, 100px 80px 0 #000000,
      110px 80px 0 #000000, 40px 90px 0 #000000, 90px 90px 0 #000000,
      100px 90px 0 #000000, 110px 90px 0 #ffeb3b, 120px 90px 0 #000000,
      40px 100px 0 #000000, 80px 100px 0 #000000, 90px 100px 0 #000000,
      100px 100px 0 #000000, 110px 100px 0 #000000, 120px 100px 0 #ffcdd2,
      50px 110px 0 #000000, 70px 110px 0 #000000, 80px 110px 0 #000000,
      90px 110px 0 #000000, 100px 110px 0 #000000, 130px 110px 0 #000000,
      50px 120px 0 #000000, 70px 120px 0 #000000, 80px 120px 0 #000000,
      90px 120px 0 #000000, 100px 120px 0 #000000, 110px 120px 0 #000000,
      120px 120px 0 #000000, 50px 130px 0 #000000, 60px 130px 0 #000000,
      70px 130px 0 #000000, 80px 130px 0 #000000, 90px 130px 0 #000000,
      100px 130px 0 #000000, 60px 140px 0 #000000, 70px 140px 0 #000000,
      80px 140px 0 #000000, 90px 140px 0 #000000, 100px 140px 0 #000000,
      70px 150px 0 #000000, 80px 150px 0 #000000, 90px 150px 0 #000000,
      100px 150px 0 #000000, 110px 150px 0 #000000;
  }
  28.610000000000003%,
  35.7% {
    box-shadow: 100px 70px 0 #000000, 30px 80px 0 #000000, 100px 80px 0 #000000,
      110px 80px 0 #000000, 40px 90px 0 #000000, 90px 90px 0 #000000,
      100px 90px 0 #000000, 110px 90px 0 #ffeb3b, 120px 90px 0 #000000,
      40px 100px 0 #000000, 80px 100px 0 #000000, 90px 100px 0 #000000,
      100px 100px 0 #000000, 110px 100px 0 #000000, 120px 100px 0 #ffcdd2,
      50px 110px 0 #000000, 70px 110px 0 #000000, 80px 110px 0 #000000,
      90px 110px 0 #000000, 100px 110px 0 #000000, 130px 110px 0 #000000,
      50px 120px 0 #000000, 70px 120px 0 #000000, 80px 120px 0 #000000,
      90px 120px 0 #000000, 100px 120px 0 #000000, 110px 120px 0 #000000,
      120px 120px 0 #000000, 50px 130px 0 #000000, 60px 130px 0 #000000,
      70px 130px 0 #000000, 80px 130px 0 #000000, 90px 130px 0 #000000,
      100px 130px 0 #000000, 60px 140px 0 #000000, 70px 140px 0 #000000,
      80px 140px 0 #000000, 90px 140px 0 #000000, 100px 140px 0 #000000,
      70px 150px 0 #000000, 80px 150px 0 #000000, 90px 150px 0 #000000,
      100px 150px 0 #000000, 110px 150px 0 #000000;
  }
  35.71%,
  42.9% {
    box-shadow: 100px 70px 0 #000000, 30px 80px 0 #000000, 100px 80px 0 #000000,
      110px 80px 0 #000000, 30px 90px 0 #000000, 90px 90px 0 #000000,
      100px 90px 0 #000000, 110px 90px 0 #ffeb3b, 120px 90px 0 #000000,
      40px 100px 0 #000000, 80px 100px 0 #000000, 90px 100px 0 #000000,
      100px 100px 0 #000000, 110px 100px 0 #000000, 120px 100px 0 #ffcdd2,
      50px 110px 0 #000000, 70px 110px 0 #000000, 80px 110px 0 #000000,
      90px 110px 0 #000000, 100px 110px 0 #000000, 130px 110px 0 #000000,
      50px 120px 0 #000000, 70px 120px 0 #000000, 80px 120px 0 #000000,
      90px 120px 0 #000000, 100px 120px 0 #000000, 110px 120px 0 #000000,
      120px 120px 0 #000000, 130px 120px 0 #000000, 50px 130px 0 #000000,
      60px 130px 0 #000000, 70px 130px 0 #000000, 80px 130px 0 #000000,
      90px 130px 0 #000000, 100px 130px 0 #000000, 60px 140px 0 #000000,
      70px 140px 0 #000000, 80px 140px 0 #000000, 90px 140px 0 #000000,
      100px 140px 0 #000000, 70px 150px 0 #000000, 80px 150px 0 #000000,
      90px 150px 0 #000000, 100px 150px 0 #000000, 110px 150px 0 #000000;
  }
  42.91%,
  50% {
    box-shadow: 100px 70px 0 #000000, 120px 70px 0 #000000, 30px 80px 0 #000000,
      100px 80px 0 #000000, 110px 80px 0 #000000, 120px 80px 0 #000000,
      30px 90px 0 #000000, 90px 90px 0 #000000, 100px 90px 0 #ffeb3b,
      110px 90px 0 #000000, 120px 90px 0 #ffeb3b, 40px 100px 0 #000000,
      80px 100px 0 #000000, 90px 100px 0 #000000, 100px 100px 0 #000000,
      110px 100px 0 #000000, 120px 100px 0 #000000, 50px 110px 0 #000000,
      70px 110px 0 #000000, 80px 110px 0 #000000, 90px 110px 0 #000000,
      100px 110px 0 #000000, 50px 120px 0 #000000, 70px 120px 0 #000000,
      80px 120px 0 #000000, 90px 120px 0 #000000, 100px 120px 0 #000000,
      110px 120px 0 #000000, 130px 120px 0 #000000, 50px 130px 0 #000000,
      60px 130px 0 #000000, 70px 130px 0 #000000, 80px 130px 0 #000000,
      90px 130px 0 #000000, 100px 130px 0 #000000, 120px 130px 0 #000000,
      60px 140px 0 #000000, 70px 140px 0 #000000, 80px 140px 0 #000000,
      90px 140px 0 #000000, 100px 140px 0 #000000, 70px 150px 0 #000000,
      80px 150px 0 #000000, 90px 150px 0 #000000, 100px 150px 0 #000000,
      110px 150px 0 #000000;
  }
  50.01%,
  57.1% {
    box-shadow: 100px 70px 0 #000000, 120px 70px 0 #000000, 30px 80px 0 #000000,
      100px 80px 0 #000000, 110px 80px 0 #000000, 120px 80px 0 #000000,
      30px 90px 0 #000000, 90px 90px 0 #000000, 100px 90px 0 #ffeb3b,
      110px 90px 0 #000000, 120px 90px 0 #ffeb3b, 40px 100px 0 #000000,
      80px 100px 0 #000000, 90px 100px 0 #000000, 100px 100px 0 #000000,
      110px 100px 0 #000000, 120px 100px 0 #000000, 50px 110px 0 #000000,
      70px 110px 0 #000000, 80px 110px 0 #000000, 90px 110px 0 #000000,
      100px 110px 0 #000000, 50px 120px 0 #000000, 70px 120px 0 #000000,
      80px 120px 0 #000000, 90px 120px 0 #000000, 100px 120px 0 #000000,
      110px 120px 0 #000000, 50px 130px 0 #000000, 60px 130px 0 #000000,
      70px 130px 0 #000000, 80px 130px 0 #000000, 90px 130px 0 #000000,
      100px 130px 0 #000000, 110px 130px 0 #000000, 60px 140px 0 #000000,
      70px 140px 0 #000000, 80px 140px 0 #000000, 90px 140px 0 #000000,
      100px 140px 0 #000000, 120px 140px 0 #000000, 70px 150px 0 #000000,
      80px 150px 0 #000000, 90px 150px 0 #000000, 100px 150px 0 #000000,
      110px 150px 0 #000000;
  }
  57.11%,
  64.3% {
    box-shadow: 100px 70px 0 #000000, 120px 70px 0 #000000, 30px 80px 0 #000000,
      100px 80px 0 #000000, 110px 80px 0 #000000, 120px 80px 0 #000000,
      30px 90px 0 #000000, 90px 90px 0 #000000, 100px 90px 0 #ffeb3b,
      110px 90px 0 #000000, 120px 90px 0 #ffeb3b, 40px 100px 0 #000000,
      80px 100px 0 #000000, 90px 100px 0 #000000, 100px 100px 0 #000000,
      110px 100px 0 #000000, 120px 100px 0 #000000, 50px 110px 0 #000000,
      70px 110px 0 #000000, 80px 110px 0 #000000, 90px 110px 0 #000000,
      100px 110px 0 #000000, 50px 120px 0 #000000, 70px 120px 0 #000000,
      80px 120px 0 #000000, 90px 120px 0 #000000, 100px 120px 0 #000000,
      110px 120px 0 #000000, 50px 130px 0 #000000, 60px 130px 0 #000000,
      70px 130px 0 #000000, 80px 130px 0 #000000, 90px 130px 0 #000000,
      100px 130px 0 #000000, 110px 130px 0 #000000, 60px 140px 0 #000000,
      70px 140px 0 #000000, 80px 140px 0 #000000, 90px 140px 0 #000000,
      100px 140px 0 #000000, 110px 140px 0 #000000, 70px 150px 0 #000000,
      80px 150px 0 #000000, 90px 150px 0 #000000, 100px 150px 0 #000000,
      110px 150px 0 #000000, 120px 150px 0 #000000;
  }
  64.31%,
  71.4% {
    box-shadow: 100px 70px 0 #000000, 120px 70px 0 #000000, 30px 80px 0 #000000,
      100px 80px 0 #000000, 110px 80px 0 #000000, 120px 80px 0 #000000,
      30px 90px 0 #000000, 90px 90px 0 #000000, 100px 90px 0 #ffeb3b,
      110px 90px 0 #000000, 120px 90px 0 #ffeb3b, 40px 100px 0 #000000,
      80px 100px 0 #000000, 90px 100px 0 #000000, 100px 100px 0 #000000,
      110px 100px 0 #000000, 120px 100px 0 #000000, 50px 110px 0 #000000,
      70px 110px 0 #000000, 80px 110px 0 #000000, 90px 110px 0 #000000,
      100px 110px 0 #000000, 50px 120px 0 #000000, 70px 120px 0 #000000,
      80px 120px 0 #000000, 90px 120px 0 #000000, 100px 120px 0 #000000,
      110px 120px 0 #000000, 50px 130px 0 #000000, 60px 130px 0 #000000,
      70px 130px 0 #000000, 80px 130px 0 #000000, 90px 130px 0 #000000,
      100px 130px 0 #000000, 110px 130px 0 #000000, 60px 140px 0 #000000,
      70px 140px 0 #000000, 80px 140px 0 #000000, 90px 140px 0 #000000,
      100px 140px 0 #000000, 110px 140px 0 #000000, 70px 150px 0 #000000,
      80px 150px 0 #000000, 90px 150px 0 #000000, 100px 150px 0 #000000,
      110px 150px 0 #000000, 120px 150px 0 #000000;
  }
  71.41000000000001%,
  78.6% {
    box-shadow: 100px 70px 0 #000000, 120px 70px 0 #000000, 30px 80px 0 #000000,
      100px 80px 0 #000000, 110px 80px 0 #000000, 120px 80px 0 #000000,
      30px 90px 0 #000000, 90px 90px 0 #000000, 100px 90px 0 #ffeb3b,
      110px 90px 0 #000000, 120px 90px 0 #ffeb3b, 40px 100px 0 #000000,
      80px 100px 0 #000000, 90px 100px 0 #000000, 100px 100px 0 #000000,
      110px 100px 0 #000000, 120px 100px 0 #000000, 50px 110px 0 #000000,
      70px 110px 0 #000000, 80px 110px 0 #000000, 90px 110px 0 #000000,
      100px 110px 0 #000000, 50px 120px 0 #000000, 70px 120px 0 #000000,
      80px 120px 0 #000000, 90px 120px 0 #000000, 100px 120px 0 #000000,
      110px 120px 0 #000000, 50px 130px 0 #000000, 60px 130px 0 #000000,
      70px 130px 0 #000000, 80px 130px 0 #000000, 90px 130px 0 #000000,
      100px 130px 0 #000000, 110px 130px 0 #000000, 60px 140px 0 #000000,
      70px 140px 0 #000000, 80px 140px 0 #000000, 90px 140px 0 #000000,
      100px 140px 0 #000000, 110px 140px 0 #000000, 70px 150px 0 #000000,
      80px 150px 0 #000000, 90px 150px 0 #000000, 100px 150px 0 #000000,
      110px 150px 0 #000000, 120px 150px 0 #000000;
  }
  78.61%,
  85.7% {
    box-shadow: 100px 70px 0 #000000, 120px 70px 0 #000000, 30px 80px 0 #000000,
      100px 80px 0 #000000, 110px 80px 0 #000000, 120px 80px 0 #000000,
      30px 90px 0 #000000, 90px 90px 0 #000000, 100px 90px 0 #ffeb3b,
      110px 90px 0 #000000, 120px 90px 0 #ffeb3b, 40px 100px 0 #000000,
      80px 100px 0 #000000, 90px 100px 0 #000000, 100px 100px 0 #000000,
      110px 100px 0 #000000, 120px 100px 0 #000000, 50px 110px 0 #000000,
      70px 110px 0 #000000, 80px 110px 0 #000000, 90px 110px 0 #000000,
      100px 110px 0 #000000, 50px 120px 0 #000000, 70px 120px 0 #000000,
      80px 120px 0 #000000, 90px 120px 0 #000000, 100px 120px 0 #000000,
      110px 120px 0 #000000, 50px 130px 0 #000000, 60px 130px 0 #000000,
      70px 130px 0 #000000, 80px 130px 0 #000000, 90px 130px 0 #000000,
      100px 130px 0 #000000, 110px 130px 0 #000000, 60px 140px 0 #000000,
      70px 140px 0 #000000, 80px 140px 0 #000000, 90px 140px 0 #000000,
      100px 140px 0 #000000, 110px 140px 0 #000000, 70px 150px 0 #000000,
      80px 150px 0 #000000, 90px 150px 0 #000000, 100px 150px 0 #000000,
      110px 150px 0 #000000, 120px 150px 0 #000000;
  }
  85.71000000000001%,
  92.9% {
    box-shadow: 100px 70px 0 #000000, 120px 70px 0 #000000, 30px 80px 0 #000000,
      100px 80px 0 #000000, 110px 80px 0 #000000, 120px 80px 0 #000000,
      30px 90px 0 #000000, 90px 90px 0 #000000, 100px 90px 0 #ffeb3b,
      110px 90px 0 #000000, 120px 90px 0 #ffeb3b, 40px 100px 0 #000000,
      80px 100px 0 #000000, 90px 100px 0 #000000, 100px 100px 0 #000000,
      110px 100px 0 #000000, 120px 100px 0 #000000, 50px 110px 0 #000000,
      70px 110px 0 #000000, 80px 110px 0 #000000, 90px 110px 0 #000000,
      100px 110px 0 #000000, 50px 120px 0 #000000, 70px 120px 0 #000000,
      80px 120px 0 #000000, 90px 120px 0 #000000, 100px 120px 0 #000000,
      110px 120px 0 #000000, 50px 130px 0 #000000, 60px 130px 0 #000000,
      70px 130px 0 #000000, 80px 130px 0 #000000, 90px 130px 0 #000000,
      100px 130px 0 #000000, 110px 130px 0 #000000, 60px 140px 0 #000000,
      70px 140px 0 #000000, 80px 140px 0 #000000, 90px 140px 0 #000000,
      100px 140px 0 #000000, 120px 140px 0 #000000, 70px 150px 0 #000000,
      80px 150px 0 #000000, 90px 150px 0 #000000, 100px 150px 0 #000000,
      110px 150px 0 #000000;
  }
  92.91000000000001%,
  100% {
    box-shadow: 100px 70px 0 #000000, 30px 80px 0 #000000, 100px 80px 0 #000000,
      110px 80px 0 #000000, 30px 90px 0 #000000, 90px 90px 0 #000000,
      100px 90px 0 #000000, 110px 90px 0 #cddc39, 120px 90px 0 #000000,
      40px 100px 0 #000000, 80px 100px 0 #000000, 90px 100px 0 #000000,
      100px 100px 0 #000000, 110px 100px 0 #000000, 120px 100px 0 #ffcdd2,
      50px 110px 0 #000000, 70px 110px 0 #000000, 80px 110px 0 #000000,
      90px 110px 0 #000000, 100px 110px 0 #000000, 130px 110px 0 #000000,
      50px 120px 0 #000000, 70px 120px 0 #000000, 80px 120px 0 #000000,
      90px 120px 0 #000000, 100px 120px 0 #000000, 110px 120px 0 #000000,
      120px 120px 0 #000000, 130px 120px 0 #000000, 50px 130px 0 #000000,
      60px 130px 0 #000000, 70px 130px 0 #000000, 80px 130px 0 #000000,
      90px 130px 0 #000000, 100px 130px 0 #000000, 60px 140px 0 #000000,
      70px 140px 0 #000000, 80px 140px 0 #000000, 90px 140px 0 #000000,
      100px 140px 0 #000000, 70px 150px 0 #000000, 80px 150px 0 #000000,
      90px 150px 0 #000000, 100px 150px 0 #000000, 110px 150px 0 #000000;
  }
}
