.Box {
  display: inline-block;
  margin-left: -110px;
  margin-right: 230px;
  margin-bottom: 110px;
  box-shadow: 110px 150px 0 #b76b20, 120px 150px 0 #b76b20,
    130px 150px 0 #b76b20, 140px 150px 0 #b76b20, 150px 150px 0 #b76b20,
    160px 150px 0 #b76b20, 170px 150px 0 #b76b20, 180px 150px 0 #b76b20,
    190px 150px 0 #b76b20, 200px 150px 0 #b76b20, 210px 150px 0 #b76b20,
    110px 160px 0 #b76b20, 120px 160px 0 #b76b20, 130px 160px 0 #d4984d,
    140px 160px 0 #d4984d, 150px 160px 0 #d4984d, 160px 160px 0 #d4984d,
    170px 160px 0 #d4984d, 180px 160px 0 #d4984d, 190px 160px 0 #d4984d,
    200px 160px 0 #d4984d, 210px 160px 0 #d4984d, 220px 160px 0 #b76b20,
    110px 170px 0 #b76b20, 120px 170px 0 #d4984d, 130px 170px 0 #b76b20,
    140px 170px 0 #b76b20, 150px 170px 0 #b76b20, 160px 170px 0 #b76b20,
    170px 170px 0 #b76b20, 180px 170px 0 #b76b20, 190px 170px 0 #b76b20,
    200px 170px 0 #b76b20, 210px 170px 0 #b76b20, 220px 170px 0 #b76b20,
    230px 170px 0 #b76b20, 110px 180px 0 #b76b20, 120px 180px 0 #d4984d,
    130px 180px 0 #b76b20, 140px 180px 0 #d4984d, 150px 180px 0 #d4984d,
    160px 180px 0 #d4984d, 170px 180px 0 #d4984d, 180px 180px 0 #d4984d,
    190px 180px 0 #d4984d, 200px 180px 0 #d4984d, 210px 180px 0 #d4984d,
    220px 180px 0 #d4984d, 230px 180px 0 #b76b20, 110px 190px 0 #b76b20,
    120px 190px 0 #d4984d, 130px 190px 0 #b76b20, 140px 190px 0 #d4984d,
    150px 190px 0 #d4984d, 160px 190px 0 #d4984d, 170px 190px 0 #d4984d,
    180px 190px 0 #d4984d, 190px 190px 0 #d4984d, 200px 190px 0 #d4984d,
    210px 190px 0 #d4984d, 220px 190px 0 #d4984d, 230px 190px 0 #b76b20,
    110px 200px 0 #b76b20, 120px 200px 0 #d4984d, 130px 200px 0 #b76b20,
    140px 200px 0 #d4984d, 150px 200px 0 #d4984d, 160px 200px 0 #d4984d,
    170px 200px 0 #d4984d, 180px 200px 0 #d4984d, 190px 200px 0 #d4984d,
    200px 200px 0 #d4984d, 210px 200px 0 #d4984d, 220px 200px 0 #d4984d,
    230px 200px 0 #b76b20, 110px 210px 0 #b76b20, 120px 210px 0 #d4984d,
    130px 210px 0 #b76b20, 140px 210px 0 #d4984d, 150px 210px 0 #d4984d,
    160px 210px 0 #d4984d, 170px 210px 0 #d4984d, 180px 210px 0 #d4984d,
    190px 210px 0 #d4984d, 200px 210px 0 #d4984d, 210px 210px 0 #d4984d,
    220px 210px 0 #d4984d, 230px 210px 0 #b76b20, 110px 220px 0 #b76b20,
    120px 220px 0 #d4984d, 130px 220px 0 #b76b20, 140px 220px 0 #d4984d,
    150px 220px 0 #d4984d, 160px 220px 0 #d4984d, 170px 220px 0 #d4984d,
    180px 220px 0 #d4984d, 190px 220px 0 #d4984d, 200px 220px 0 #d4984d,
    210px 220px 0 #d4984d, 220px 220px 0 #d4984d, 230px 220px 0 #b76b20,
    110px 230px 0 #b76b20, 120px 230px 0 #d4984d, 130px 230px 0 #b76b20,
    140px 230px 0 #d4984d, 150px 230px 0 #d4984d, 160px 230px 0 #d4984d,
    170px 230px 0 #d4984d, 180px 230px 0 #d4984d, 190px 230px 0 #d4984d,
    200px 230px 0 #d4984d, 210px 230px 0 #d4984d, 220px 230px 0 #d4984d,
    230px 230px 0 #b76b20, 110px 240px 0 #b76b20, 120px 240px 0 #d4984d,
    130px 240px 0 #b76b20, 140px 240px 0 #d4984d, 150px 240px 0 #d4984d,
    160px 240px 0 #d4984d, 170px 240px 0 #d4984d, 180px 240px 0 #d4984d,
    190px 240px 0 #d4984d, 200px 240px 0 #d4984d, 210px 240px 0 #d4984d,
    220px 240px 0 #d4984d, 230px 240px 0 #b76b20, 110px 250px 0 #b76b20,
    120px 250px 0 #d4984d, 130px 250px 0 #b76b20, 140px 250px 0 #d4984d,
    150px 250px 0 #d4984d, 160px 250px 0 #d4984d, 170px 250px 0 #d4984d,
    180px 250px 0 #d4984d, 190px 250px 0 #d4984d, 200px 250px 0 #d4984d,
    210px 250px 0 #d4984d, 220px 250px 0 #d4984d, 230px 250px 0 #b76b20,
    120px 260px 0 #b76b20, 130px 260px 0 #b76b20, 140px 260px 0 #d4984d,
    150px 260px 0 #d4984d, 160px 260px 0 #d4984d, 170px 260px 0 #d4984d,
    180px 260px 0 #d4984d, 190px 260px 0 #d4984d, 200px 260px 0 #d4984d,
    210px 260px 0 #d4984d, 220px 260px 0 #d4984d, 230px 260px 0 #b76b20,
    130px 270px 0 #b76b20, 140px 270px 0 #b76b20, 150px 270px 0 #b76b20,
    160px 270px 0 #b76b20, 170px 270px 0 #b76b20, 180px 270px 0 #b76b20,
    190px 270px 0 #b76b20, 200px 270px 0 #b76b20, 210px 270px 0 #b76b20,
    220px 270px 0 #b76b20;
  height: 10px;
  width: 10px;
}
